$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

//.browserupgrade {
//  margin: 0.2em 0;
//  background: #ccc;
//  color: #000;
//  padding: 0.2em 0;
//}

/* Space out content a bit */
body {
  min-width: 1200px;
  margin: 0 auto;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
header{

  font-size: 12px;
  height: 60px;
}
header li{
  margin-top: 15px;
 list-style: none;
  float: left;
  margin-left: 15px;
}
header nav{
  float: left;

}
header section{
  float: right;
  margin-right: 25px;
}
header a{
  font-size: 12px;
  color: #353535;

}
header a:hover{
   color: #ff5a34;
  text-decoration: none;
}
header button{
  background-color: #ff5a34;
  border: none;
  color: white;
  width: 40px;
  height: 25px;
  border-radius:3px;
  margin-top: 10px;
  margin-left: 15px;

}
/* Make the masthead heading the same height as the navigation */

article {
    min-width: 1200px;
}

article .section1 {
  width: 520px;
  margin: 0 auto;
}
/* Custom page footer */


.input-group{
  width: 550px;
  margin: 0 auto;
}
.input-group input{
  height: 44px;
  border:1px solid #ff5a34;
  border-right:none ;
}
.input-group span{
  font-size: 20px;
  width: 77px;
  height: 44px;
  border:1px solid #ff5a34;
  color: white;
  background-color: #ff5a34;

}
footer {
  min-width: 1200px;
  text-align:center;
margin-top: 260px;
}
footer section span{
  display: block;
}
footer img{
  width: 40px;
  height: 40px;

}
